<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Phone Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script th:src="@{/list.js}"></script>
<script>
    window.onload = function() {
        var options = {
            valueNames: ['name', 'address', 'phoneNumber']
        };

        var contactList = new List('contact-list', options);
    };

    function viewContact(id) {
        window.location= "/phonebook/contacts/" + id;
    }
</script>
<body>

<h1>Phonebook</h1>

<button onclick="document.getElementById('createContact').style.display = 'block'">Create contact</button>

<div id="createContact" style="display: none">
    <form th:action="@{/phonebook}" th:method="POST">
        <fieldset>
            <label for="name">Name</label><input id="name" type="text" name="name" /><br>
            <label for="phoneNumber">Phone Number</label><input id="phoneNumber" type="text" name="phoneNumber" /><br>
            <label for="address">Address</label><input id="address" type="text" name="address" /><br>
            <input type="submit" value="Create"/>
        </fieldset>
    </form>
</div>


<div id="editContact" th:object="${selectedContact}" th:if="${selectedContact != null && selectedContact.id != null}">
    <form th:action="@{/phonebook/contacts/{id}(id=*{id})}" th:method="PUT">
        <fieldset>
            <label for="name">Name</label><input id="name" type="text" name="name" th:field="*{name}"  /><br>
            <label for="phoneNumber">Phone Number</label><input id="phoneNumber" type="text" name="phoneNumber" th:field="*{phoneNumber}" /><br>
            <label for="address">Address</label><input id="address" type="text" name="address" th:field="*{address}"/><br>
            <input type="submit" value="Update"/>
        </fieldset>
    </form>
</div>

<div id="contact-list">
    <input class="search" placeholder="Search" />


    <table>
        <thead>
            <tr>
                <th class="sort" data-sort="name">Name</th>
                <th class="sort" data-sort="phoneNumber">Telephone Number</th>
                <th class="sort" data-sort="address">Address</th>
            </tr>
        </thead>
        <tbody class="list">
            <tr th:onclick="|viewContact('${c.id}')|" th:each="c : ${contacts}">
                <td th:text="${c.name}" class="name">Name</td>
                <td th:text="${c.phoneNumber}" class="phoneNumber">phone number</td>
                <td th:text="${c.address}" class="address">Address</td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>