<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Phonebook</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Telephone Number</th>
        <th>Address</th>
    </tr>
    <tr th:each="c : ${contacts}">
        <td th:text="${c.name}">Name</td>
        <td th:text="${c.phoneNumber}">phone number</td>
        <td th:text="${c.address}">Address</td>
    </tr>
</table>


</body>
</html>